.vs/
Api.Example.A/bin
Api.Example.A/obj
Arquetipo.Paas/bin
Arquetipo.Paas/obj
Arquetipo.Pom/bin
Arquetipo.Pom/obj
ErrorHandling/bin
ErrorHandling/obj
ErrorHandling.Models/bin
ErrorHandling.Models/obj
ErrorHandling.Pom/bin
ErrorHandling.Pom/obj
Logging.Configuration/bin
Logging.Configuration/obj
Logging.Filter/bin
Logging.Filter/obj
Logging.Filter.Pom/bin
Logging.Filter.Pom/obj
Logging.Interceptor/bin
Logging.Interceptor/obj
Logging.Interceptor.Pom/bin
Logging.Interceptor.Pom/obj
Logging.Models/bin
Logging.Models/obj
Tracing.Configuration/bin
Tracing.Configuration/obj
Api.Example.A/Properties/launchSettings.json
Api.Example.A/appsettings.json
Api.Example.A/appsettings.Development.json
.DS_Store
